<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <script src="http://www.google.com/jsapi"></script>
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.studygate.css" rel="stylesheet" media="screen">
    <link rel="SHORTCUT ICON" href="/favicon.ico">
    <script>
       google.load( "webfont", "1" );
       google.setOnLoadCallback(function() {
       WebFont.load({ custom: {
       families: [ "NanumGothic" ],
       urls: [ "http://fontface.kr/NanumGothic/css" ]
       }});
       });
    </script>
    <style type="text/css">
        html, body {
	height:100%;
	}
      
        .container {
        margin: 0 auto;
        max-width: 1000px;
	min-height : 80%;
	height : auto !important;
	height : 80%;
        }
        
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
        }
        
        #signUpModal{
            width: 430px;
            margin: 0px 0 0 -215px;
        }
        
        #loginModal{
            width: 430px;
            margin: 0px 0 0 -215px;
	}
	
	.logo
	{
	margin: 0 auto;
	max-width : 413px;
	}
	
	.footer
	{
	text-align :center;
	margin-top : 10px;
	padding-top : 10px;
	height : 50px;
	background-color:#66c39b;
	}

	.footer-label
	{
	color : #FFFFFF;
	}

	body,table/*,input,textarea,select,button*/{font-family:'NanumGothic'; font-weight:bold;}
    {% block css %}{% endblock %}
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40618727-1', 'studygate.co.kr');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">


    function checkHangul(str)
    {
        check = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
        if(check.test(str)) 
        { 
            alert('ID는 영어, 숫자만 가능합니다.');
        }
    }

    function RegistrationSubmit(type)
    {
        var signupType = $('<input>').attr("type", "hidden").attr("name", "signupType").val(type);
        $(".form-signin").append($(signupType));
        if(document.RegistrationForm.email.value == "")
        {
             alert('이메일을 입력하지 않으셨습니다.');
             return;
        }
        else if(document.RegistrationForm.username.value =="")
        {
             alert('아이디를 입력하지 않으셨습니다.');
             return;
        }
        else if(checkHangul($(".username").val()))
        {
             return; 
        }
        else if(document.RegistrationForm.password.value =="")
        {
             alert('패스워드를 입력하지 않으셨습니다.');
             return;
        }
        else if($(".password").val().length < 8)
        {
             alert('패스워드를 8자 이상 입력해주세요');
	     return;
        }
        else if($(".passwordConfirm").val().length < 8)
        {
             alert('패스워드 확인을 8자 이상 입력해주세요');
	     return;
        }
        else if(document.RegistrationForm.passwordConfirm.value =="")
        {
             alert('패스워드 확인을 입력하지 않으셨습니다.');
             return;
        }

        if(document.RegistrationForm.password.value != document.RegistrationForm.passwordConfirm.value)
        {
             alert('패스워드와 패스워드 확인 값이 다릅니다.');
             return;
        }

        document.RegistrationForm.submit();
    }
    function LoginSubmit()
    {
        
        if(document.LoginForm.username.value == "")
        {
             alert('아이디를 입력하지 않으셨습니다.');
             return;
        }
        else if(document.LoginForm.password.value =="")
        {
             alert('패스워드를 입력하지 않으셨습니다.');
             return;
        }
        document.LoginForm.submit();
    }

    function SignUp()
    {
    $("#signUpModal").modal()   
    }
        
    function Login()
    {
    $("#loginModal").modal()   
    }

    function Close()
    {
    {% if loginerror %}
    location.href = 'http://teachrevo.cafe24.com:9000';
    {% elif signuperror %}
    location.href = 'http://teachrevo.cafe24.com:9000';
    {% else %}
    $("#loginModal").modal('hide')   
    $("#signUpModal").modal('hide')
    {% endif %}
    }

    
    function getCookie(name)
    {
	   var cookieValue = null;
           if (document.cookie && document.cookie != '') 
	   {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) 
		{
			var cookie = jQuery.trim(cookies[i]);
			// Does this cookie string begin with the name we want?
			if (cookie.substring(0, name.length + 1) == (name + '=')) 
			{
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
		}
	    }
            return cookieValue;
    }


    {% if login %}
    window.onload = Login
    {% endif %}

    {% if signup %}
    window.onload = SignUp
    {% endif %}

    {% block javascript %}{% endblock %}
    </script>
</head>
<body>
  <div style="background-color:#66c39b;">
	<div class="logo">
	  <img src="{{STATIC_URL}}img/logo.png"/>
	</div>
  </div>
  <div class="masthead">
    <div class="navbar">
      <div class="navbar-inner">
            <div class="container">
              <ul class="nav" style="width:700px;">
		<li id="Home" class="dropdown">
		  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">StudyGate</a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/">소개</a></li>
		    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="/howto">서비스 이용 방법</a></li>-->
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/contact">고객센터</a></li>
		  </ul>
		</li>
		<li id="LectureSubmit" class="dropdown">
		  <a id="drop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">수업신청</a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
		    {% if user.username %}
		    {% if isStudent %}
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/teacher">선생님께 수업신청</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/studentSubmit">수업신청 올리기</a></li>
		    {% endif %}
		    {% if isTeacher %}
 		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/teacher">선생님 리스트</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/student">학생에게 수업제안</a></li>
		    {% endif %}
		    {% else %}
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/teacher">선생님 리스트</a></li>
		    {% endif %} 
		  </ul>
		</li>
		<li id="Lecture" class="dropdown">
		  <a id="drop3" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">강의실</a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/lecture">나의 강의실</a></li>
		    {% if isTeacher %}
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/lectureSubmit">강의실 신청</a></li>
		    {% endif %}
		    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="/student">문제풀이 오피스</a></li>-->
		  </ul>
		</li>
		{% if user.username %}
		<li id="MyPage" class="dropdown">
		  <a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">마이 페이지</a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/myProfile">나의 프로필</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/submitList">수업 요청 한 목록</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/receiveList">수업 요청 온 목록</a></li>
		    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="/student">문제풀이 오피스</a></li>-->
		  </ul>
		</li>
		{% endif %}

		{% block mainnav %}{% endblock %}
              </ul>
              <ul class="nav pull-right">
		{% if user.username %}
		<li id="LogoutNavBtn"><a href="/logout/">로그아웃</a></li>
		{% else %}
<!--                <li id="SignUpNavBtn"><a href="javascript:SignUp();" data-toggle="modal">회원가입</a></li>-->
                <li id="LoginNavBtn"><a href="javascript:Login();" data-toggle="modal">로그인</a></li>
		{% endif %}
              </ul>
             </div>
          </div>
    </div><!-- /.navbar -->
  </div>

      

    <div class="container">

    {% block content %}{% endblock %}
   
    <!-- Modal -->
    <div id="signUpModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" onClick="javascript:Close();">×</button>
      <h2 class="form-signin-heading">회원 가입</h2>
    </div>
    <div class="modal-body">
        <form method="POST" class="form-signin" name="RegistrationForm" action="/register/">  {% csrf_token %}
	  {% if signuperror %}
	  <label style="color:red; margin: 0 0 10px 0;">가입 형식이 맞지 않습니다.</label>
	  {% endif %}
        <input type="text" class="email input-block-level" placeholder="Email address" name="email">
        <input type="text" class="username input-block-level" placeholder="ID" name="username">
        <input type="password" class="password input-block-level" placeholder="Password" name="password">
        <input type="password" class="passwordConfirm input-block-level" placeholder="Password Confirm" name="passwordConfirm">
        </form>
    </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">닫기</button>
          <button class="btn btn-info" onClick="javascript:RegistrationSubmit(0);">선생님으로 가입</button>   
          <button class="btn btn-primary" onClick="javascript:RegistrationSubmit(1);">학생으로 가입</button>   
        </div>    
    </div>
    
    <div id="loginModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" onClick="javascript:Close();">×</button>
      <h2 class="form-signin-heading">회원 로그인</h2>
    </div>
    <div class="modal-body">
        <form method="POST" class="form-signin" NAME="LoginForm" action="/login/"> {% csrf_token %}
	  {% if loginerror %}
	  <label style="color:red; margin: 0 0 10px 0;">당신의 ID나 비밀번호가 맞지 않습니다.</label>
	  {% endif %}
        <input type="text" class="input-block-level" placeholder="Username" name="username">
        <input type="password" class="input-block-level" placeholder="Password" name="password">
        <label class="checkbox">
          <input type="checkbox" name="remember" value="true"> Remember me
        </label>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">닫기</button>
        <button class="btn btn-primary" onClick="javascript:LoginSubmit();">로그인</button>
    </div>    
    </div>
    </div> <!-- /container -->
    <div class="footer">
        <p class="footer-label" >&copy; KnowledgeShare 2013</p>
    </div>
</body>
</html>
