{% extends "base.html" %}
{% block title %}홈{% endblock %}
{% block css %}
{% endblock %}
{% block javascript %}
{% endblock %}        
{% block mainnav %}
{% endblock %}
{% block content %}
<h3>StudyGate 란?</h3>
<p>선생님과 학생 사이에 온라인 과외를 제공하는 서비스입니다.<br>
  StudyGate는 수요가 부족한 지역에 위치한 우수 공대생들과 공급이 부족한 지방의 학생들을 연결해주는 비타민 역할을 합니다.
</p>

<div style="width:640px; margin: 0 auto;">
<iframe width="640" height="360" 
	src="http://www.youtube.com/embed/6neFBuna9Lw?feature=player_detailpage" frameborder="0" allowfullscreen>
</iframe>
</div>

<!--
    <h3>Knowledge Share 란?</h3>
    <p>Knowledge Share는 지식의 나눔을 효과적으로 돕는 서비스를 만드는 그룹입니다.<br>
       저희 서비스를 통해 여러 사람들이 지식을 쉽게 습득하고 널리 나누고 멀리 퍼트릴 수 있도록 도울 것 입니다.<br>
    </p>
    <br>
    <h4>화상 과외 서비스</h4>
    <p>선생님과 학생 사이에 온라인 과외를 제공하는 서비스입니다.<br>
    화상 과외 서비스는 수요가 부족한 지역에 위치한 우수 공대생들과 공급이 부족한 지방의 학생들을 연결해주는 비타민 역할을 합니다.
    </p>
    <br>
    <h4>WordBoost</h4>
    <p>쉽고 빠르게 단어를 외울 수 있는 솔루션입니다.
    </p>  
-->
    <div class="footer">
        <p>&copy; KnowledgeShare 2013</p>
    </div>
{% endblock %}    
