{% extends "base.html" %}
{% load knowShareCustomFilter %}
{% block title %}수업 강의실{% endblock %}>
{% block css %}
.lecture button { float:right; }
.lectureTable {margin:10px 0 0 0; padding:10px 0 0 0;}
th {font-size:20px;}
td:first-child {width:20%;}
td:last-child {width:20%;}
{% endblock %}
{% block javascript %}
function createMeeting()
{
document.createRoom.submit();
}

function joinMeeting()
{
document.joinRoom.submit();
}

function endMeeting()
{
document.endRoom.submit();
}

{% endblock %}        
{% block mainnav %}
{% endblock %}
{% block content %}   

<div class="lecture">
<h3>강의실</h3>
<table class="table lectureTable">
  <tbody>
    {% for lecture in lectures %}
    <tr class="body">
      {% if runnings|lookupfor:forloop.counter == False %}
      <td style="color:red; font-weight:bold;">OffAir</td>
      {% else %}
      <td style="color:green; font-weight:bold;">OnAir</td>
      {% endif %}
      <td>{{lecture.teacher.name}} 선생님,
	{% for student in lecture.student.all %}
	{% if forloop.last %}
	{{student.name}} 학생
	{% else %}
	{{student.name}} 학생,
	{% endif %}
	{% endfor %}
	강의실</td>
      <td>
	{% if isTeacher %}
	{% if runnings|lookupfor:forloop.counter == False %}
	<form method="POST" class="createRoom" name="createRoom" action="/createMeeting/">{% csrf_token %}
	<input name="lectureID" type="hidden" value={{lecture.id}}>
	<input name="name" type="hidden" value="{{user.teacher.name}} 선생님">
	<button  class="btn create btn-info">강의실 생성 및 입장</button>
        </form>
        {% else %}
        <form method="POST" class="endRoom" name="endRoom" action="/endMeeting/">{% csrf_token %}
        <input name="lectureID" type="hidden" value={{lecture.id}}>
	<button  class="btn create btn-danger">강의실 닫기</button></td>
        </form>
        {% endif %}

        {% elif isStudent %}
	<form method="POST" class="joinRoom" name="joinRoom" action="/joinMeeting/">{% csrf_token %}
	<input name="lectureID" type="hidden" value={{lecture.id}}>
	<input name="name" type="hidden" value="{{user.student.name}} 학생">
	<button  class="btn create btn-info">강의실 입장</button>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<legend></legend>
</div>


{% endblock %}    
