{% extends "base.html" %}
{% block title %}요청 목록{% endblock %}>
{% block css %}
.lecture button { float:right; }
.lectureTable {margin:10px 0 0 0; padding:10px 0 0 0;}
th {font-size:20px;}
td:first-child {width:70%;}
td:last-child {width:9%;}
.sign {font-size:14px; margin:5px 0 0 0; float:right;}
{% endblock %}
{% block javascript %}
        function showStudentResponse(name, comment, studentID)
        {
             $("#studentCommentTitle").text(name + " 학생이 수업 요청")
             $("#studentComment").empty();
             var comments = comment.split("</br>")
             for(i = 0; i < comments.length; i++)
             {
                var commentText = $("<label>").text(comments[i]);
                $("#studentComment").append(commentText);
             }			  
             $("#studentID").val(studentID)
             $("#studentCommentModal").modal('show')
        }

        function showTeacherResponse(name, comment, studentID, teacherID)
        {
             $("#teacherCommentTitle").text(name + " 선생님에게 요청한 목록")
	     $("#teacherComment").empty();
             var comments = comment.split("</br>")
             for(i = 0; i < comments.length; i++)
             {
                var commentText = $("<label>").text(comments[i]);
                $("#teacherComment").append(commentText);
             }			  			    
             $("#uStudentID").val(studentID)
             $("#teacherID").val(teacherID)
             $("#teacherCommentModal").modal('show')
        }

        function changeStudentRequestPermission(permission)
        {
             var permissionIn = $('<input>').attr("type", "hidden").attr("name", "permission").val(permission);
             $(".studentRequestPermission").append($(permissionIn));
             document.studentRequestPermissionForm.submit();
        }

        function changeTeacherRequestPermission(permission)
        {             
             var permissionIn = $('<input>').attr("type", "hidden").attr("name", "permission").val(permission);
             $(".teacherRequestPermission").append($(permissionIn));
             document.teacherRequestPermissionForm.submit();
        }
{% endblock %}        
{% block mainnav %}
{% endblock %}
{% block content %}   
<!-- 학생 요청 목록 -->
{% if isTeacher %}
<h3>학생으로부터 요청 온 목록</h3>
<table class="table lectureTable">
  <tbody>
    {% for teacherRequest in studentRequestsToMe %}
    <tr class="body">
      <td>{{teacherRequest.student.username}}계정의 학생이 수업요청</td>
      <td><button style="float:right;" class="btn" onClick="javascript:showStudentResponse('{{teacherRequest.student.username}}', '{{teacherRequest.comment}}', {{teacherRequest.student.id}})">내용</button></td>
      
      {% if teacherRequest.permission == 0 %}
      <td><span class="label label-warning sign">미승인</span></td>
      {% elif teacherRequest.permission == 1 %}
      <td><span class="label label-success sign">승인</span></td>
      {% else %}
      <td><span class="label label-important sign">거절</span></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% elif isStudent %}
<h3>선생님으로부터 요청 온 목록</h3>
<!-- 선생님 요청 목록 -->
<table class="table lectureTable">
  <tbody>
    {% for student in students %}
    {% for studentRequest in student.studentrequest_set.all %}
    <tr class="body">
      <td>{{studentRequest.teacher.name}} 선생님이 요청</td>
      <td><button class="btn" onClick="javascript:showTeacherResponse('{{studentRequest.teacher.name}}', '{{studentRequest.comment}}', {{studentRequest.student.id}}, {{studentRequest.teacher.id}})">내용</button></td>

      {% if studentRequest.permission == 1 %}
      <td><button style="float:right;" class="btn" onClick="location.href='../lectureSubmit?studentID={{studentRequest.student.id}}'">강의실 신청</button></td>
      {% else %} 
      <td><button style="float:right;" class="btn">강의실 대기</button></td>
      {% endif %}

      {% if studentRequest.permission == 0 %}
      <td><span class="label label-warning sign">미승인</span></td>
      {% elif studentRequest.permission == 1 %}
      <td><span class="label label-success sign">승인</span></td>
      {% else %}
      <td><span class="label label-important sign">거절</span></td>
      {% endif %}

    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

<div class="footer">
  <p>&copy; KnowledgeShare 2013</p>
</div>

<div id="studentCommentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="studentCommentTitle"></h4>
  </div>
  <div class="modal-body">
    <div id="studentComment">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info" onClick="javascript:changeTeacherRequestPermission(1)">요청 승인</button>
    <button class="btn btn-danger" onClick="javascript:changeTeacherRequestPermission(2);">요청 거절</button>  
  </div>    
</div>

<div id="teacherCommentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="teacherCommentTitle"></h4>
  </div>
  <div class="modal-body">
    <div id="teacherComment">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info" onClick="javascript:changeStudentRequestPermission(1)">요청 승인</button>
    <button class="btn btn-danger" onClick="javascript:changeStudentRequestPermission(2);">요청 거절</button>  
  </div>    
</div>

<form method="POST" class="teacherRequestPermission" name="teacherRequestPermissionForm" action="/teacherRequestPermission/"> {% csrf_token %}
  <input id="studentID" class="studentID" name="studentID" type="hidden">
</form>

<form method="POST" class="studentRequestPermission" name="studentRequestPermissionForm" action="/studentRequestPermission/"> {% csrf_token %}
  <input id="uStudentID" class="uStudentID" name="userStudentID" type="hidden">
  <input id="teacherID" class="teacherID" name="teacherID" type="hidden">
</form>

{% endblock %}    
