{% extends "base.html" %}
{% block title %}수업 리스트{% endblock %}>
{% block css %}
.studentInfo{ margin : 0 20px 0 0;}
{% endblock %}
{% block javascript %}
        function studentRequest(studentID)
        {
	     var csrftoken = getCookie('csrftoken');
             var csrfInput = $('<input>').attr("type", "hidden").attr("name", "csrfmiddlewaretoken").val(csrftoken);
             var teacherIDInput = $('<input>').attr("type", "hidden").attr("name", "studentID").val(studentID);
             $form = $('<form method="POST" action="/studentRequest/"></form>');         
	     $form.append(csrfInput)			    
             $form.append(teacherIDInput)
             $form.submit();					    
        }

        function showProfile(name, grade, sex, money, tutorTime, comment)
        {
             $("#profileTitle").text(name + " 학생");
             if(grade == 0)
                 $("#profileGrade").text("학년 : 중학생 1학년");
             else if(grade == 1)
                 $("#profileGrade").text("학년 : 중학생 2학년");
             else if(grade == 2)
                 $("#profileGrade").text("학년 : 중학생 3학년");
             else if(grade == 3)
                 $("#profileGrade").text("학년 : 고등학생 1학년");
             else if(grade == 4)
                 $("#profileGrade").text("학년 : 고등학생 2학년");

             if(sex == 0)
                 $("#profileSex").text("성 : 남성");
             else
                 $("#profileSex").text("성 : 여성");
             $("#profileMoney").text("과외비용 : " + money + "만원");
             if(tutorTime == 0)
                  $("#profileTutorTime").text("과외방식 : 주 1회 1시간");
             else if(tutorTime == 1)
                  $("#profileTutorTime").text("과외방식 : 주 2회 1시간");
             else if(tutorTime == 2)
                  $("#profileTutorTime").text("과외방식 : 주 1회 2시간");
             else if(tutorTime == 3)
                  $("#profileTutorTime").text("과외방식 : 주 2회 2시간");
             else if(tutorTime == 4)
                  $("#profileTutorTime").text("과외방식 : 기타");
             $("#profileComment").text("코멘트 : " + comment);

             $("#profileModal").modal('show')
        }
{% endblock %}        
{% block mainnav %}
{% endblock %}
{% block content %}   
<div class="row-fluid">
  {% for student in students %}
  <ul class="thumbnails">
    <li class="span4 {% if forloop.counter|divisibleby:"3" %} {% else %}studentInfo{% endif %}">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{student.name}} 학생</h3>
          <p>
	    학년 : {% if student.grade == 0 %}
	           중학생 1학년
	           {% elif student.grade == 1 %}
	           중학생 2학년 
	           {% elif student.grade == 2 %}
	           중학생 3학년 
	           {% elif student.grade == 3 %}
	           고등학생 1학년 
	           {% elif student.grade == 4 %}
	           고등학생 2학년 
	           {% endif %}
	    </br>
	    성 : {% if student.sex == 0 %} 남성 {% else %} 여성 {% endif %}</br>
	    과외비용 : {{student.money}}만원</br>
            </br>
          </p>
          <p>
	    <a href="javascript:showProfile('{{student.name}}', '{{student.grade}}', '{{student.sex}}', '{{student.money}}', '{{student.tutorTime}}', '{{student.comment}}')" class="btn">상세 프로필</a>
	    <a href="javascript:studentRequest({{student.id}})" class="btn btn-info">수업 신청</a>
	  </p>
        </div>
      </div>
    </li>
    {% endfor %} 
</div>
<div class="footer">
  <p>&copy; KnowledgeShare 2013</p>
</div>

<div id="profileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="profileTitle"></h3>
  </div>
  <div class="modal-body">
    <label id="profileGrade"></label>
    <label id="profileSex"></label>
    <label id="profileMoney"></label>
    <label id="profileTutorTime"></label>
    <label id="profileComment">
    </label>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">닫기</button>
    <button class="btn btn-primary" onClick="javascript:enterLectureRoom();">강의실 입장</button>  
  </div>    
</div>
{% endblock %}    
