{% extends "base.html" %}
{% block title %}요청 목록{% endblock %}>
{% block css %}
.lecture button { float:right; }
.lectureTable {margin:10px 0 0 0; padding:10px 0 0 0;}
th {font-size:20px;}
td:first-child {width:80%;}

{% endblock %}
{% block javascript %}
{% endblock %}        
{% block mainnav %}
{% endblock %}
{% block content %}   
<h3>요청한 목록</h3>
<!-- 학생에게 요청한 목록 -->
<table class="table lectureTable">
  <thead>
    <tr>
      <th>학생에게 요청한 목록</th>
    </tr>
  </thead>
  <tbody>
    {% for studentRequest in studentRequests %}
    <tr class="body">
      <td>{{studentRequest.student.name}}학생에게 요청</td>
      <td><button class="btn">내용</button></td>
      <td><button class="btn">요청취소</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<legend></legend>
<!-- 선생님에게 요청한 목록 -->
<table class="table lectureTable">
  <thead>
    <tr>
      <th>선생님에게 요청한 목록</th>
    </tr>
  </thead>
  <tbody>
    {% for teacherRequest in teacherRequests %}
    <tr class="body">
      <td>{{teacherRequest.teacher.name}}선생님에게 요청</td>
      <td><button class="btn">내용</button></td>
      <td><button class="btn">요청취소</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<legend></legend>
<!-- 학생 요청 목록 -->
<h3>요청 온 목록</h3>
<table class="table lectureTable">
  <thead>
    <tr>
      <th>학생 요청 목록</th>
    </tr>
  </thead>
  <tbody>
    {% for teacherRequest in studentRequestsToMe %}
    <tr class="body">
      <td>{{teacherRequest.student.name}} 학생이 수업요청</td>
      <td><button class="btn">내용</button></td>
      <td><button class="btn">요청 수락</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<legend></legend>

<!-- 선생님 요청 목록 -->
<table class="table lectureTable">
  <thead>
    <tr>
      <th>선생님 요청 목록</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    {% for studentRequest in student.studentrequest_set.all %}
    <tr class="body">
      <td>{{studentRequest.teacher.name}} 선생님이 요청</td>
      <td><button class="btn">내용</button></td>
      <td><button class="btn">요청수락</button></td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
<legend></legend>

<div class="footer">
  <p>&copy; KnowledgeShare 2013</p>
</div>
{% endblock %}    
