{% extends "base.html" %}
{% block title %}요청 목록{% endblock %}>
{% block css %}
.lecture button { float:right; }
.lectureTable {margin:10px 0 0 0; padding:10px 0 0 0;}
th {font-size:20px;}
td:first-child {width:70%;}
td:last-child {width:9%;}
rightfloat { float:right; }

.sign {font-size:14px; margin:5px 0 0 0; float:right;}
{% endblock %}
{% block javascript %}
        function showStudentRequest(name, comment)
        {
             $("#commentTitle").text(name + " 학생에게 요청한 목록")
             $("#comment").empty();
             var comments = comment.split("</br>")
             for(i = 0; i < comments.length; i++)
             {
                var commentText = $("<label>").text(comments[i]);
                $("#comment").append(commentText);
             }
             $("#commentModal").modal('show')
        }

        function showTeacherRequest(name, comment)
        {
             $("#commentTitle").text(name + " 선생님에게 요청한 목록")
             $("#comment").empty();
             var comments = comment.split("</br>")
             for(i = 0; i < comments.length; i++)
             {
                var commentText = $("<label>").text(comments[i]);
                $("#comment").append(commentText);
             }			  
             $("#commentModal").modal('show')
        }
{% endblock %}        
{% block mainnav %}
{% endblock %}
{% block content %}   
{% if isTeacher %}
<h3>학생에게 요청 한 목록</h3>
<!-- 학생에게 요청한 목록 -->
<table class="table lectureTable">
  <tbody>
    {% for studentRequest in studentRequests %}
    <tr class="body">
      <td>{{studentRequest.student.name}} 학생에게 요청</td>
      <td><button class="btn" onClick="javascript:showStudentRequest('{{studentRequest.student.name}}', '{{studentRequest.comment}}');">내용</button></td>
      
      {% if studentRequest.permission == 1 %}
      <td><button style="float:right;" class="btn" onClick="location.href='../lectureSubmit?studentID={{studentRequest.student.id}}'">강의실 신청</button></td>
      {% else %} 
      <td><button style="float:right;" class="btn">강의실 대기</button></td>
      {% endif %}
      
      {% if studentRequest.permission == 0 %}
      <td><span class="label label-warning sign">미승인</span></td>
      {% elif studentRequest.permission == 1 %}
      <td><span class="label label-success sign">승인</span></td>
      {% else %}
      <td><span class="label label-important sign">거절</span></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% elif isStudent %}
<h3>선생님께 요청 한 목록</h3>
<!-- 선생님에게 요청한 목록 -->
<table class="table lectureTable">
  <tbody>
    {% for teacherRequest in teacherRequests %}
    <tr class="body">
      <td>{{teacherRequest.teacher.name}} 선생님에게 요청</td>
      <td><button style="float:right;" class="btn" onClick="javascript:showTeacherRequest('{{teacherRequest.teacher.name}}', '{{teacherRequest.comment}}');">내용</button></td>
      
      {% if teacherRequest.permission == 0 %}
      <td><span class="label label-warning sign">미승인</span></td>
      {% elif teacherRequest.permission == 1 %}
      <td><span class="label label-success sign">승인</span></td>
      {% else %}
      <td><span class="label label-important sign">거절</span></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<div id="commentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="commentTitle"></h4>
  </div>
  <div class="modal-body">
    <div id="comment">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">닫기</button>
    <button class="btn btn-danger" onClick="javascript:studentRequest();">수업 신청 취소</button>  
  </div>    
</div>

{% endblock %}    
